
@{
    int currentMonth = DateTime.Now.Month;
    int previousMonth = currentMonth-1;
}

<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <i class="fas fa-hand-holding-usd"></i>
                <span>
                    Finance MS
                </span>
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">

                <li>
                    <a href="/Dashboard/Index/" class="waves-effect">
                        <i class="feather-airplay"></i><span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/FinancialAccount/Index/" class="waves-effect">
                        <i class="fas fa-book"></i><span>Financial Accounts</span>
                    </a>
                </li>

                <li>
                    <a href="/Transaction/Index/" class="waves-effect">
                        <i class="fas fa-exchange-alt"></i><span>Transactions</span>
                    </a>
                </li>



                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-file-invoice-dollar"></i><span>Report</span>
                    </a>

                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/Report/Index/@currentMonth">Generate Current Month Report</a></li>
                        <li><a href="/Report/Index/@previousMonth">Generate Previous Month Report</a></li>
                       
                    </ul>
                </li>



            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>