<head>
    <meta charset="utf-8" />
    <title>Finance Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Finance" name="description" />
    <meta content="Finance" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/FinanceMS/vertical/assets/images/favicon.ico">

    <link href="~/FinanceMS/vertical/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/FinanceMS/vertical/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/FinanceMS/vertical/assets/css/theme.min.css" rel="stylesheet" type="text/css" />
    <link href="~/FinanceMS/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="~/FinanceMS/plugins/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="~/FinanceMS/plugins/datatables/buttons.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="~/FinanceMS/plugins/datatables/select.bootstrap4.css" rel="stylesheet" type="text/css" />



</head>